{% extends 'blog/base.html' %}

{% block content %}

<h1>Password change page</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">

        {% if form.errors %}
            {% for error in form.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <form action="{% url 'blog:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <p><input type="submit" value="Change password"></p>
        </form>
    </div>
</div>
{% endblock content %}