<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 link-secondary" href="/category/1">Россия</a>
    <a class="p-2 link-secondary" href="/category/2">Мир</a>
    <a class="p-2 link-secondary" href="/category/3">Бывший СССР</a>
    <a class="p-2 link-secondary" href="/category/4">Экономика</a>
    <a class="p-2 link-secondary" href="/category/5">Силовые структуры</a>
    <a class="p-2 link-secondary" href="/category/6">Наука и техника</a>
    <a class="p-2 link-secondary" href="/category/7">Культура</a>
    <a class="p-2 link-secondary" href="/category/8">Спорт</a>
    <a class="p-2 link-secondary" href="/category/9">Интернет и СМИ</a>
    <a class="p-2 link-secondary" href="/category/10">Ценности</a>
    <a class="p-2 link-secondary" href="/category/11">Путешествия</a>
    <a class="p-2 link-secondary" href="/category/12">Из жизни</a>
  </nav>
</div>
