{% extends "blog/base.html" %}

{% block content %}

<form action="{% url 'blog:category_add' %}" method="post">
    {% csrf_token %}
    {{ category_add_form.non_field_errors }}

    {% for field in category_add_form %}

        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %}
                {{ field.help_text | escape }}
            {% endif %}
        </div>

    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Добавить">
</form>

{% endblock content%}