{% extends 'blog/base.html' %}

{% block content %}

<div class="row g-5">
    <div class="col-md-8">
        {% if posts_list %}
        {% for post in posts_list %}
            <article class="blog-post">
                <h2 class="blog-post-title mb-1">{{ post.title }}</h2>

            <p class="blog-post-meta">
                {{ post.publication_date }} by <a href="#">{{ post.owner }}</a>
                {{ post.category }}
            </p>
            <p>{{ post.content | truncatewords:60 }}</p>
                <a href="{% url 'blog:post_detail' post.id %}">Читать далее</a>
            </article>
            <hr>
        {% endfor %}
        {% else %}
            <p>No posts are published yet.</p>
        {% endif %}
        <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
            <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
        </nav>
    </div>
    <!-- sidebar -->

{% include 'blog/_sidebar.html' %}

{% endblock content %}